  .bg{
    background-color: grey;
    color:honeydew
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  button {
margin-left: 45%;
  }

  .contentTwo {
    display: flex;
    justify-content: space-around;
  }